/* CONTAINS ERROR-SLIDER */
.error-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ELEMENT THAT SLIDES INTO VIEW ON ERROR */
.error-slider {
  display: none;
  width: 85%;
}

/* CONTENT OF ERROR MESSAGE */
.error-message {
  display: flex;
  border: red dashed 1px;
  color: red;
  width: 100%;
  justify-content: space-evenly;
  background-color: white;
  align-items: center;
}