/* GENERAL HEADER RULES */
header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 350px;
  width: 100%;
  font-size: 18px;
 }
 
 /* HEADER THAT CONTAINS AVATAR DIV */
 .profile {
   background-color: #008c41;
   background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
   height: 250px;
 }

 /* CONTAINS PROFILE PICTURE AND USERNAME */
 .avatar {
  display:flex;
  flex-direction: column;
  width:100%;
  align-items: center;
  justify-content: flex-end;
  background-color: #008c41;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
}

/* ALL DIVS WITHIN HEADER ARE FLEX BY DEFAULT */
header > div {
  display:flex;
}

/* DIV THAT CONTAINS THE PROF PIC IMAGE */
.prof-pic {
  display: flex;
  align-items: flex-end;
}

/* USERNAME HEADER */
.username {
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 20px;
}

/* PROFILE PICTURE IMAGE */
#prof-pic-image {
  height: auto; 
  width: auto; 
  max-width: 100px;
  max-height: 100px;
}


/* TABLET LAYOUT */

@media only screen and (min-width: 768px) {
  .avatar {
    width: 250px;
    height: 250px;
  }
  .big-container {
    flex-direction: row;
    align-items: flex-start;
  }
  .error-container {
    padding-top: 150px;
  }
  .username {
    display: flex;
    font-size: 18px;
    margin-bottom: 5px;
  }
  .profile {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    background-color: whitesmoke;
    width: 300px;
    height: 360px;
    padding-left: 20px;
  }
  .prof-pic {
    display: flex;
    align-items:flex-start;
    margin-top: 50px;
  }
  #prof-pic-image {
    height: auto; 
    width: auto; 
    max-width: 180px; 
    max-height: 180px;
  }
  header {
    height: 400px;
  }
}

/* DESKTOP LAYOUT */

@media only screen and (min-width: 1024px) {
  .big-container {
    flex-direction: row;
    align-items: flex-start;
  }
  .error-container {
    padding-top: 150px;
  }
  .avatar {
    display:flex;
    width: 450px;
    height: 450px;

  }
  .profile {
    display: flex;
    margin-top: 200px;
    width: 75%;
    height: 450px;
  }

  #prof-pic-image {
    height: 125%; 
    width: 125%; 
    max-width: 325px; 
    max-height: 325px;
    margin-bottom: 60px;   
  }
  .username {
    display: flex;
    font-size: 24px;
    margin-bottom: 30px;
  }
}