/* ENTIRE NAV BAR */
nav {
  display: flex;
  height: 60px;
  background: #4056A1;
  color: #ffffff;
  padding: 1.5em;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
}

/* TWEETER LOGO */
nav > span {
  font-family: "Bungee", sans-serif;
}

/* WRITE A NEW TWEET BUTTON */
.writeNewTweet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 14px;
}

/* NEW TWEET BUTTON RED HIGHLIGHT ON HOVER */
.writeNewTweet:hover{
  color:red;
}

/* TABLET LAYOUT */
@media only screen and (min-width: 768px) {
  nav {
    height: 90px;
    font-size: 20px;
  }
  .writeNewTweet {
    font-size: 20px;
  }

}

/* DESKTOP LAYOUT */
@media only screen and (min-width: 1024px) {
  nav {
    height: 120px;
    font-size: 24px;
  }
}